
<%= form_tag users_path do %>
  <% @users_arr.each do |user| %>
    <%= fields_for 'users_container[]', user do |p| %>
       <%= p.text_field :name, placeholder: "Summoner Name" %>
        Team Champ: <%= fields_for 'champ_arr[]', ChampionTeam.new do |f| %>
          <%= f.collection_select( :champion_id, Champion.all , :id, :name)%>
          <% end %> |
          Opposing Champ: <%= fields_for 'opp_champ_arr[]', ChampionTeam.new do |f| %>
            <%= f.collection_select( :champion_id, Champion.all , :id, :name)%></br>
        <% end %>
    <% end %>
  <% end %>
  </br>
  <div style="text-align: center;">
    <%= submit_tag "Results"%>
  </div>
<% end %>
</br>
