<div class="pageGrad">
  </br>
<h1 style = "text-align: center;">Game Info<h1>

<table class="ui very basic collapsing celled table" style = "text-align: center; padding-left: 15%;">
  <thead>
    <tr><th>Your Team</th>
    <th>Stats</th>
    <th>Enemy Team</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <% champ1_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ1.lol_namekey.to_s+".png" %>
        <% opp_champ1_image = "http://opgg-static.akamaized.net/images/lol/champion/"+opp_team_champ1.lol_namekey.to_s+".png" %>
        <h4 class="ui image header">
          <%= image_tag champ1_image %>
          <div class="content">
            <%= link_to user1, team_champ1.op_url   %>
            <% get_user_stats(user1, team_champ1.name) %>
            <div class="sub header"><%= return_user_elo %></br>
              <%= return_user_champ_stats %>
          </div>
        </div>
      </h4></td>
      <td>

        Matchup Win Percentage: <%= get_champ_matchup(team_champ1.lol_namekey, opp_team_champ1.lol_namekey) %></br>
        Public Win Percentage: <%= team_champ1.win_percentage %></br>
        Public Pick Percentage: <%= team_champ1.pick_percentage %>
      </td>
      <td>
        <h4 class="ui image header">
          <%= image_tag opp_champ1_image %>
          <div class="content">
            <%= link_to opp_team_champ1.name, opp_team_champ1.op_url %>
            <div class="sub header"><% champ_category_id = opp_team_champ1.category_id %>
              <% @champ_cat = Category.find(champ_category_id) %>
              <%= link_to @champ_cat.name, @champ_cat %>
          </div>
        </div>
      </h4></td>
    </tr>
    <tr>
      <td>
        <% champ2_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ2.lol_namekey.to_s+".png" %>
        <% opp_champ2_image = "http://opgg-static.akamaized.net/images/lol/champion/"+opp_team_champ2.lol_namekey.to_s+".png" %>
        <h4 class="ui image header">
          <%= image_tag champ2_image %>
          <div class="content">
            <%= link_to user2, team_champ2.op_url   %>
            <% get_user_stats(user2, team_champ2.name) %>
            <div class="sub header"><%= return_user_elo %></br>
              <%= return_user_champ_stats %>
          </div>
        </div>
      </h4></td>
      <td>

        Matchup Win Percentage: <%= get_champ_matchup(team_champ2.lol_namekey, opp_team_champ2.lol_namekey) %></br>
        Public Win Percentage: <%= team_champ2.win_percentage %></br>
        Public Pick Percentage: <%= team_champ2.pick_percentage %>
      </td>
      <td>
        <h4 class="ui image header">
          <%= image_tag opp_champ2_image %>
          <div class="content">
            <%= link_to opp_team_champ2.name, opp_team_champ2.op_url %>
            <div class="sub header"><% champ_category_id = opp_team_champ2.category_id %>
              <% @champ_cat = Category.find(champ_category_id) %>
              <%= link_to @champ_cat.name, @champ_cat %>
          </div>
        </div>
      </h4></td>
    </tr>
    <tr>
      <td>
        <% champ3_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ3.lol_namekey.to_s+".png" %>
        <% opp_champ3_image = "http://opgg-static.akamaized.net/images/lol/champion/"+opp_team_champ3.lol_namekey.to_s+".png" %>
        <h4 class="ui image header">
          <%= image_tag champ3_image %>
          <div class="content">
            <%= link_to user3, team_champ3.op_url   %>
            <% get_user_stats(user3, team_champ3.name) %>
            <div class="sub header"><%= return_user_elo %></br>
              <%= return_user_champ_stats %>
          </div>
        </div>
      </h4></td>
      <td>

        Matchup Win Percentage: <%= get_champ_matchup(team_champ3.lol_namekey, opp_team_champ3.lol_namekey) %></br>
        Public Win Percentage: <%= team_champ3.win_percentage %></br>
        Public Pick Percentage: <%= team_champ3.pick_percentage %>
      </td>
      <td>
        <h4 class="ui image header">
          <%= image_tag opp_champ3_image %>
          <div class="content">
            <%= link_to opp_team_champ3.name, opp_team_champ3.op_url %>
            <div class="sub header"><% champ_category_id = opp_team_champ3.category_id %>
              <% @champ_cat = Category.find(champ_category_id) %>
              <%= link_to @champ_cat.name, @champ_cat %>
          </div>
        </div>
      </h4></td>
    </tr>
    <tr>
      <td>
        <% champ4_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ4.lol_namekey.to_s+".png" %>
        <% opp_champ4_image = "http://opgg-static.akamaized.net/images/lol/champion/"+opp_team_champ4.lol_namekey.to_s+".png" %>
        <h4 class="ui image header">
          <%= image_tag champ4_image %>
          <div class="content">
            <%= link_to user4, team_champ4.op_url   %>
            <% get_user_stats(user4, team_champ4.name) %>
            <div class="sub header"><%= return_user_elo %></br>
              <%= return_user_champ_stats %>
          </div>
        </div>
      </h4></td>
      <td>

        Matchup Win Percentage: <%= get_champ_matchup(team_champ4.lol_namekey, opp_team_champ4.lol_namekey) %></br>
        Public Win Percentage: <%= team_champ4.win_percentage %></br>
        Public Pick Percentage: <%= team_champ4.pick_percentage %>
      </td>
      <td>
        <h4 class="ui image header">
          <%= image_tag opp_champ4_image %>
          <div class="content">
            <%= link_to opp_team_champ4.name, opp_team_champ4.op_url %>
            <div class="sub header"><% champ_category_id = opp_team_champ4.category_id %>
              <% @champ_cat = Category.find(champ_category_id) %>
              <%= link_to @champ_cat.name, @champ_cat %>
          </div>
        </div>
      </h4></td>
    </tr>
    <tr>
      <td>
        <% champ5_image = "http://opgg-static.akamaized.net/images/lol/champion/"+team_champ5.lol_namekey.to_s+".png" %>
        <% opp_champ5_image = "http://opgg-static.akamaized.net/images/lol/champion/"+opp_team_champ5.lol_namekey.to_s+".png" %>
        <h4 class="ui image header">
          <%= image_tag champ5_image %>
          <div class="content">
            <%= link_to user5, team_champ5.op_url   %>
            <% get_user_stats(user5, team_champ5.name) %>
            <div class="sub header"><%= return_user_elo %></br>
              <%= return_user_champ_stats %>
          </div>
        </div>
      </h4></td>
      <td>
        Matchup Win Percentage: <%= get_champ_matchup(team_champ5.lol_namekey, opp_team_champ5.lol_namekey) %></br>
        Public Win Percentage: <%= team_champ5.win_percentage %></br>
        Public Pick Percentage: <%= team_champ5.pick_percentage %>
      </td>
      <td>
        <h4 class="ui image header">
          <%= image_tag opp_champ5_image %>
          <div class="content">
            <%= link_to opp_team_champ5.name, opp_team_champ5.op_url %>
            <div class="sub header"><% champ_category_id = opp_team_champ5.category_id %>
              <% @champ_cat = Category.find(champ_category_id) %>
              <%= link_to @champ_cat.name, @champ_cat %>
          </div>
        </div>
      </h4></td>
    </tr>
  </tbody>
</table>
</br>
</br>
</div>
