<% champ_image = "http://opgg-static.akamaized.net/images/lol/champion/"+@champion.lol_namekey.to_s+".png" %>
<div style="text-align: center; padding-top: 3%;">
<div class="ui centered card" >
  <div class="image">
    <%= image_tag champ_image %>
  </div>
  <div class="content">
    <a class="header"><%= @champion.name %></a>
    <div class="meta">
      <span class="date"><%= @champion.lol_title.titleize %></br>
        <%= @champ_cat.name %></span>
    </div>
    <div class="description">
      Public Pick Percentage: <%= @champion.pick_percentage %></br>
      Public Win Percentage: <%= @champion.win_percentage %></br>
      OP.GG Link: <%= link_to @champion.name, @champion.op_url %>
    </div>
  </div>
  <div class="extra content">
    <a>
      League ID: <%= @champion.lol_id %>
    </a>
  </div>
</div>
<%= link_to 'Back', champions_path %>
</div>
